* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
h2{
    text-align: center;
    padding: 40px 20px 10px 20px;
    font-weight: bold;
  }
/**************************************HEADER************************************/
.fa-angle-down:before {
    padding-right: 15px;
    
}
.header {
    background-color: #1d173a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.navbar-toggler {
    display: inline;
    color: white;
}
header {
    font-size: .8rem;
  }
header .logo{
    width: 35%;
}
.fa-user {
    padding-right: 15px;
}
.separator-span { 
    color: #9e44bf;
}
nav {
    background-color: #433975;
}
nav .container a {
    color: white;
    text-decoration: none;
    padding: 3px;
    font-size: .7rem;
}
.header-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-links a:hover {
    color: #9e44bf;
    transition: .3s;
}
.fa-search , 
.fa-phone, 
.fa-shopping-bag {
    color: #9e44bf;
    padding: 10px;
}
.fa-search:hover, 
.fa-phone:hover, 
.fa-shopping-bag:hover,
.header-login .fa-user:hover {
    color: #9e44bf;
    transition: .3s;
}
.header-login span:hover {
    color: #9e44bf;
    transition: .3s;
}
.header-login .fa-user {
    display: inline;
    color: #fff;
}
.header-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-expand-lg .navbar-collapse{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fa-search,
.fa-shopping-bag,
.fa-user,
.header-login span {
    cursor: pointer;
}
.header-info span, 
.header-info .fa-phone,
.header-login span {
  display: none;
}
.fa-search, 
.fa-shopping-bag {
    color: #fff;
}
/**************************************HERO-IMAGE************************************/
.hero-image {
    width: 100%;
}
.hero-button-div {
    background-color: #1d173a;
}
.hero-img-div {
    position: relative;
}
.hero-img-label {
    font-size: .8rem;
    position: absolute;
    color: white;
    top: 70%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    border: 2px solid #433975;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    padding: 2px 10px;
    background-color: #433975;
}
.hero-img-label a {
    text-decoration: none;
    color: white;
}
.hero-img-label a:hover {
    color: #9e44bf;
    transition: .3s;
    text-decoration: none;
}
.hero-button-div {
    padding: 20px;
}
html .btn-full {
    background-color: #762e91;
    display: block;
    margin: auto;
    border-color: #762e91;
    border-radius: 5px;
    font-weight: bold;
    font-size: .8rem;
    padding: 10px;
}
html .btn-full:hover,
html .btn-full:focus {
    background-color: white;
    color: #762e91;
    border: 1px solid #762e91;
    transition: 0.3s;
}
.fa-angle-right:before,
.fa-angle-double-right:before,
.fa-check-circle:before {
    display: none;
}
.fa-angle-right {
    margin-left: 20px;
}
.fa-angle-double-right {
    margin-left: 15px;
}
.fa-check-circle {
    margin-left: 8px;
}

/**************************************TESTIMONIALS-SECTION************************************/
  #testimonials,
  #testimonials-full {
    text-align: center;
  }
  #testimonials h2,
  #testimonials-full h2 {
      font-size: 1.5rem;
      padding-bottom: 0;
      padding-top: 30px;
      font-weight: bold;
  }
  #testimonials h4,
  #testimonials-full h4 {
      color: #762e91;
      font-weight: bold;
      font-size: 1rem;
  }
  .testimonial-image {
    width: 80%;
    padding-bottom: 10px;
  }
  .carousel-item {
    padding: 15px 30px;
  }
  .carousel-item p {
      font-size: 1rem;
      margin-bottom: 10px;
      font-weight: 600;
  }
  html .btn-empty {
    background-color: white;
    color: #762e91;
    border: 1.5px solid #762e91;
    font-weight: bold;
    padding: 5px 30px;
  }
  html .btn-empty:hover {
      color: white;
      background-color: #762e91;
      border-color: #762e91;
      transition: 0.3s;
  }
  .fa-chevron-circle-right,
  .fa-chevron-circle-left {
      color: #9e44bf;
  }
  .hero-img-label p {
      margin-bottom: 0;
  }
  /**************************************FEATURES-SECTION***********************************/
  #features {
    background-color: #433975;
    color: #ccc;
    padding: 20px 20px 0 20px;
  }
  #features h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 20px 0;
  }
  #features p,
  #features i {
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
  }
  #features i:hover {
      color: white;
      transition: 0.3s;
  }
  .feature-box {
    text-align: center;
    
  }
  .feature-box span {
    color:#ca61f1;
    padding: 4px;
  }
  #features .carousel-item {
    padding: 15px 30px 0 30px;
  }
  img.d-block {
      margin: auto;
    width: 100%;
}
/**************************************ABOUT-US-SECTION***********************************/
#about-us-section h4{
    text-align: center;
    padding: 5% 5% 2% 5%;
    font-weight: 550;
    font-size: 1rem;
}
#about-us-section h2 {
    font-weight: bold;
    font-size: 1.2rem;
}
#about-us-section p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: .7rem;
    font-weight: 400;
}
#about-us-section h5{
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 1rem;
}
.carousel-paragraph {
    text-align: center;
    width: 80%;
}
#about-us-section .btn-full {
    width: 70%;
}
#about-us-section .btn-full i{
    padding-right: 10px;
}
#carouselControls2 
.carousel-control-prev {
   bottom: 25%;
}
#carouselControls2 
.carousel-control-next {
   bottom: 25%;
}
/**************************************GET-STARTED-SECTION***********************************/
#get-started-section {
    background-color: #433975;
    color: white;
    padding-bottom: 40px;
}
#get-started-section h2{
    font-size: 1.5rem;
    font-weight: bold;
}
#get-started-section button {
    width: 80%;
    display: block;
    margin: auto;
    color: #fff;
    background-color: #433975;
    border-color: #fff;
    border-radius: 8px;
}
#get-started-section button:hover {
    background-color: #fff;
    border-color: #433975;
    color: #433975;
    transition: 0.3s;
}
/**************************************FOOTER***********************************/
footer {
    background-color: #1d173a;
    color: white;
}
.footer-info-div {
    background-color: #2c2453;
}
footer h4 {
    text-align: center;
    padding: 5%;
}
footer p {
    text-align: center;
    margin-bottom: 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #433975;
    padding-bottom: 3%;
    margin-bottom: 30px;
}
.social-icon {
    padding: 15px;
}
.social-icon:hover {
    color: #9e44bf;
    transition: .3s;
}
footer .collapsed h5 {
    font-size: 1rem;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
footer h5 {
    text-decoration: none;
}
footer h5:hover {
    color: #9e44bf;
    transition: .3s;
}
.fa-angle-down:before {
    color: #fff;
}
.nav-item .nav-link {
    color: #fff;
}
.nav-item .nav-link:hover{
    color: #9e44bf;
    transition: .3s;
}
#policyes {
    display: none;
}
a.d-flex.d-lg-none.pb-md-3{
    color: #fff;
    text-decoration: none;
}
a.d-flex.d-lg-none.pb-md-3.collapsed {
    text-decoration: none;
}
.last-pararaph {
    text-align: left;
    border-top: 1px solid #433975;
    padding-top: 20px;
    margin-top: 20px;
    font-size: .6rem;
}
.footer-image {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-info-div p {
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .75rem;
}
.footer-links .nav-links {
    text-align: center;
}
/******************************************** MEDIA QUERIES **************************************************/

/******************************************** MIN-WIDTH 1200************************************************/
@media (min-width:1200px) {
    #about-us-section .btn-full {
        font-size: 1.2rem;
    }
    .separator-span {
        padding: 10px;
    }
    .header-login span {
        font-size: 1.2rem;
    }
    .smaller-social-div .social-icons {
        border: none; 
        margin: 0;
        padding: 0;
        font-size: 15px;       
    }
    .social-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        border-bottom: 1px solid #433975;
    }
    .social-div p,
    .social-div h4{
        margin-bottom: 0;
    }
    .smaller-social-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
/******************************************** MIN-WIDTH 991************************************************/
@media (min-width:991px) {
    .header-links {
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 10px;
    }
    .header-links a.nav-links{
        font-size: .9rem;
        margin: auto;
    }
    .nav-item .nav-link {
        background-color: #1d173a;
        font-size: .8rem;
    }
    #policyes {
        display: flex;
        flex-direction: row;
    }
    header {
        font-size: 1rem;
    }
    .navbar-toggler {
        display: none;
    }
    .hero-img-label  {
        font-size: 1rem;
    }
    .fa-angle-right {
        margin-left: 25px;
    }
    .fa-angle-double-right {
        margin-left: 15px;
    }
    .hero-button-div {
        padding: 40px;
    }
    .hero-button-div .btn-full {
        font-size: 1.3rem;
        padding: 10px 30px;
    }
    img.testimonial-image {
        width: 20%;
    }
    #about-us-section .about-us-h4{
        font-size: 1.5rem;
    }
    #about-us-section .about-us-h2 {
        font-size: 3em;
    }
    #get-started-section button {
        width: 18%;
    }
   
  }
  /******************************************** MIN-WIDTH 768 ************************************************/
@media (min-width:768px) {
    .header-info span, 
    .header-info .fa-phone,
    .header-login span {
      display: inline;
  }
  .header-login .fa-user {
    color: #9e44bf;
    display: none;
    padding-right: 5px;
  }
  .fa-search {
    color: #9e44bf;
  }
  .fa-angle-right:before,
  .fa-angle-double-right:before,
  .fa-check-circle:before {
       display: inline;
  }
  .hero-img-label {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  img.d-block {
    width: 30%;
  }
  #about-us-section .btn-full {
    width: 20%;
  }
  #about-us-section p {
    font-size: 1rem;
  }
  .social-icons {
    font-size: 25px;
  }
  .carousel-control-prev,
  .carousel-control-next {
   margin: 0 25%;
  }

}
 /******************************************** MIN-WIDTH 576 ************************************************/
@media (min-width:576px) {
    nav .container a {
        font-size: 1rem;
    }
    .testimonial-image {
        width: 40%;
    }
    #about-us-section h4{
        font-size: 1.2rem;
    }
    #about-us-section h2 {
        font-size: 2rem;
    }
    #about-us-section p {
        font-weight: 400;
    }
    #about-us-section h5{
        font-size: 1rem;
        padding-top: 20px;
    }
}
